html{
	position: relative;
	height: 100%;
	background: #7D527D;
}

body{
	position: relative;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.content{
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.textarea-wrapper{
	float: left;
	height: 100%;
	width: 50%;
	box-sizing: border-box;
	padding: 10px;
}

.textarea{
	height: 100%;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	font-family: monospace;
	font-size: 12px;
	resize: none;
	border: none;
	background: white;
	border-radius: 3px;
	opacity: 0.8;
	outline: none !important;
	transition: opacity 0.3s;

	&:focus{
		opacity: 1;
	}
}